::-webkit-scrollbar {
    width: 8px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    border-radius: 10px;
    height: 10%;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #0f0f0f;
    max-height: 10%;
    padding-top: 100px;
    height: 0;
  }

 


